.mainchat {
    padding: 10px;
    height: 70vh;
    margin: 5vh 0 5vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  .formchat {
    height: 8vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    display: flex;
    font-size: 1.5rem;
  }
  
  .buttonchat {
    width: 24%;
    background-color: rgb(44, 124, 24);
  }
  
  
  .inputchat {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    padding: 0 10px;
  }
  
  .buttonchat {
    background-color: rgb(44, 124, 24); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
  
  
  
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  .allchats {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .message {
    display: flex;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  .imgchat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }